* {
    box-sizing: border-box;
}
@font-face {
    font-family: porieton;
    src: url(../fonts/porietone/PoiretOne-Regular.ttf);
}
@font-face {
    font-family: juliusSans;
    src: url(../fonts/JuliusSansOne/JuliusSansOne-Regular.ttf);
}
@font-face {
    font-family: carrotgoth;
    src: url(../fonts/CarroisGoth/CarroisGothicSC-Regular.ttf);
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
}

.flex {
    display: flex;
}
.col{
    flex-direction: column;
}
.container{
    max-width: 1260px;
}