@import url("helpers.css");
body {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.top-page {
    height: 93vh;
    width: 100%;
    left: 0;
    user-select: none;
    background-image: url("../img/7.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid rgba(71, 71, 71, 0.337);
}

.social-media {
    padding: 1%;
}

.header .social-media img {
    margin-left: .1%;
    width: 30px;
    padding: 5px;
    background-color: rgb(207, 207, 207);
    border-radius: 40%;
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.466);
    cursor: pointer;
}

.header .social-media img:hover {
    background-color: rgba(251, 229, 131, 0.811);
}

.social-media .facebook img:hover {
    background-color: rgba(100, 142, 231, 0.811);
}

.social-media .instegram img:hover {
    background-color: rgba(219, 144, 253, 0.811);
}
.social-media .whatsapp img:hover {
    background-color: rgba(144, 253, 144, 0.811);
}

.main {
    justify-content: center;
}

.logo-container {
    width: 100vw;
    background-color: rgba(26, 25, 25, 0.708);
    padding-top: 3%;
    top: 15%;
    position: absolute;
    text-align: center;
}

.logo {
    display: inline-block;
    font-family: porieton;
    font-weight: bolder;
    font-size: 14em;
    letter-spacing: -15px;
    text-transform: uppercase;
    color: rgba(228, 192, 100, 0.877);
    text-shadow: 0px .3px 3px rgba(238, 238, 238, 0.759);
}

.logo-before {
    color: rgba(255, 255, 255, 0.876);
    text-shadow: 0px .3px 3px rgba(255, 208, 0, 0.759);
}

.logo-o {
    background: url(../img/logo-rot.png) no-repeat;
    background-size: 270px;
    background-position: -35px;
}

.sub-logo {
    color: rgba(245, 206, 109, 0.637);
    display: block;
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: 15px;
    text-shadow: 0px .3px 1px rgb(255, 255, 255);
}

.logo-container .time {
    font-family: amatic-bold;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.actions-btn {
    margin: auto;
    line-height: 8em;
}

.btn {
    border: none;
    cursor: pointer;
    font-size: 1.7em;
    padding: .5%;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: able-regular;
    width: 10%;
    box-shadow: 0px .4px 5px rgba(255, 229, 113, 0.718);
    transition: background-color .6s, color .6s;
}

.btn:hover {
    color: rgba(223, 223, 223, 0.842);
    background-color: rgba(31, 31, 31, 0.846);
}

.btn:not(:first-child) {
    margin-left: 3%;
}

/** CONTACT **/

.contact {
    font-family: able-regular;
    margin: auto;
    padding-bottom: 5%;
    align-items: center;
    background-color: rgba(29, 29, 29, 0.983);
}

.contact .more {
    width: 100%;
    text-decoration: none;
    text-align: center;
    background-color: rgba(66, 66, 66, 0.507);
}

.contact .more h1 {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.876);
    text-shadow: 0px .3px 3px rgba(255, 208, 0, 0.759);
    margin-top: unset;
    font-size: 1.9em;
    text-transform: uppercase;
    animation: jumping 1.6s infinite;
}

@keyframes jumping {
    0% {
        transform: translateY(0) scale(1);
    }
    25% {
        transform: translateY(25%)scale(1.2);
    }
    50% {
        transform: translateY(0)scale(1);
    }
    75% {
        transform: translateY(25%)scale(1.2);
    }
    100% {
        transform: translateY(0)scale(1);
    }
}

.contact h2 {
    color: rgba(223, 223, 223, 0.746);
    font-family: amatic-bold;
    margin-top: 5%;
    font-size: 3.5em;
    text-shadow: 0px .2px 5px rgba(22, 22, 22, 0.559);
}

.contact form {
    align-items: center;
    width: 100%;
}

.colors-picker {
    justify-content: center;
}

.texts {
    height: 80%;
    border: none;
    width: 50%;
    text-align: center;
    margin-bottom: 2%;
    font-size: 1.3em;
    color: rgb(42, 42, 42);
    background-color: rgba(255, 252, 246, 0.983);
    box-shadow: inset 0 -2px 3px rgba(117, 117, 117, 0.548);
    ;
}

.box-color {
    border: 2px solid black;
    padding: .2%;
}

/**end moudle **/

footer {
    background-color: rgba(0, 0, 0, 0.133);
    justify-content: center;
}

footer div {
    font-family: amatic-bold;
    color: rgba(29, 29, 29, 0.679);
}
.up{
    margin-left:1%;
    text-decoration: none;
    color: rgba(29, 29, 29, 0.679);
}